.root{
margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background-image: url(https://images8.alphacoders.com/133/1331544.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  min-height: 100vh;
}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(websiteportfolio/IMG_9203);
  background-repeat: no-repeat;
  background-position: center;
}
